

QPushButton[text="Submit"] {
  display: inline-block;
  position: relative;
  height: 33px;
  line-height: 33px;
  padding: 0 15px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border: 2px solid;
  border-radius: 7px;
  outline: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

QPushButton:before, QPushButton:after {
  content: '';
  position: absolute;
}

QPushButton:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
  border-radius: 9px;
}

QPushButton:after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0;
  border-radius: 7px;
}


QPushButton {
  background: #3e952d;
  border-color: #29621e #275e1c #1d4715;
  background-image: -webkit-linear-gradient(top, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
  background-image: -moz-linear-gradient(top, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
  background-image: -o-linear-gradient(top, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
  background-image: linear-gradient(to bottom, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
}

QPushButton:before {
  background: #4ac233;
  background-image: -webkit-linear-gradient(top, #317c22, #52d039);
  background-image: -moz-linear-gradient(top, #317c22, #52d039);
  background-image: -o-linear-gradient(top, #317c22, #52d039);
  background-image: linear-gradient(to bottom, #317c22, #52d039);
}

QPushButton:active {
  background: #42a933;
  background-image: -webkit-linear-gradient(top, #31741b 0%, #3fa131 60%, #42a933 100%);
  background-image: -moz-linear-gradient(top, #31741b 0%, #3fa131 60%, #42a933 100%);
  background-image: -o-linear-gradient(top, #31741b 0%, #3fa131 60%, #42a933 100%);
  background-image: linear-gradient(to bottom, #31741b 0%, #3fa131 60%, #42a933 100%);
}
QPushButton:active:after {
  border-color: #42a933;
}